/* Red #dc4c3e */
/* Red Font #ba1f00 */
/* Hover active #ffefe5 */
/* Hover un-active #f2efed */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* border: solid black 1px; */
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.content {
    display: grid;
    grid-template-columns: 0.9fr 4fr;

}

.sidebar {
    grid-column: 1;
    background-color: #fcfaf8;

}

.profile {
    height: 55.2px;
}

.main-content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;


}

.todo-main-container {
    flex-grow: 1;
    overflow-y: auto;
    /* height: 100%; */
    padding: 0px 55px 84px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.nav {
    position: sticky;
    padding: 12px;
    text-align: center;
    border-bottom: solid black 1px;
    height: 55.2px;

}

.project {
    height: 100px;
    width: 100%;
    border-bottom: solid black 1px;
}

.project-container {
    padding-top: 32px;
    max-width: 80%;
    height: fit-content;
    left: 24px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 12px;
}

.task-container {
    align-items: flex-start;
    display: flex;
    /* max-width: 00px; */
    padding: 24px;
    gap: 8px;
}

.task-container__position {
    display: flex;
    flex-direction: column;
}

.overflow-act {
    padding: 0px 3px 0px 0px;
    visibility: hidden;
}


/* Task Styling */
.task-container {
    align-items: flex-start;
    display: flex;
    padding: 24px;
    gap: 8px;
}

.task-check {
    margin-top: 6px;
}

.task-desc,
.task-title{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}



/* Form Dialog */
.projectFormDialog,
.formDialog {
    position: absolute;
    top: 20%;
    left: 30%;
    /* right: 50%; */
    /* transform: translate(-50%, -50%); */

    border: none;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    border: solid black 1px;
}

.project-dialog-form,
.dialog-form {
    height: 200px;
    width: 500px;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-form-container,
.form-container {
    /* padding: 24px; */
    display: flex;
    flex-direction: column;
}

.project-form-btn,
.form-btn {
    display: flex;
    justify-content: flex-end;
    /* padding: 24px; */
    gap: 12px;
}

.task-name-input,
.task-desc-input {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    border-radius: 50%;
    padding: 9px;
    border: solid rgb(211, 211, 211) 1px;
    background-color: white;
}

.checkbox:hover{
    background-color: rgb(109, 226, 255);
}